@page "/info"

<h1 class="mt-3">Information</h1>

<PageTitle>Student Information</PageTitle>

<div class="border-3 border-secondary">
    <h1>Rangga Aulia Pradana</h1>
    <h2>5025201154</h2>

</div>


@code {

}